@charset "utf-8";
body {
	font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #fff;
    margin: 0;
    padding: 0;
	overflow-x: hidden;
}


header {
	background-color: #0d0d0d;
    padding: 20px;
    display: flex;
    justify-content: space-between;
	align-items: center;
 	margin-left: 0px;
	margin-right: 0px;
  }

.content {
    background-color: #151414;
	font-size: 14px;
    padding: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
	margin-left: 0px;
    margin-right: 0px;
  }

.content:hover {
	transform: scale(1.05);
	transition: 0.3s ease-in;
	transition: 0.5s ease-out; 
}

header h1 {
	margin: 0;
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

header h2 {
	margin: 0;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px
}

header button {
    background-color: #4caf50;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

header button:hover {
    background-color: #fff;
    color: #4caf50;
  }

a {
	color: white;
    transition: color 0.3s;
    cursor: pointer;
	text-decoration: none;
  }
        
a:hover {
    color: gray; 
  }

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

main .container {
    background-color: #212121;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

main .container h2 {
    margin: 0 0 20px;
    font-size: 28px;
    text-align: center;
  }

main .container p {
    margin: 0;
    font-size: 18px;
    text-align: center;
  }

main .container img {
    width: 100px;
    margin-top: 20px;
  }

.pic{
	float: left;
}

.ptxt{
	font-size: 18px;
	font-display: block;
}

.assignment {
   	font-size: 18px;
  }

.assignment:hover {
	transform: scale(1.03);
	transition: 0.3s ease-in;
	transition: 0.5s ease-out; 
}

.hw {
	color: #64FF67;
    transition: color 0.3s;
    cursor: pointer;
	text-decoration: none;
  }
        
.hw:hover {
    color: #32F30C; 
  }

footer {
    background-color: #0d0d0d;
    padding: 20px;
    text-align: center;
  }

footer p {
    margin: 0;
    font-size: 12px;
  }

footer i {
    color: #4caf50;
    margin-right: 10px;
  }
